[package]
name = "epic_raytracer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.24.5"
indicatif = "0.17.3"
rand = "0.8.5"
num_cpus = "1.15.0"
term_cursor = "0.2.1"
libmath = "0.2.1"